version: '3.8'

services:
  db:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notificationdb
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data 
    networks:
      - notification_network  

volumes:
  pgdata:  

networks:
  notification_network:
    driver: bridge 